*
{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.slider{
  background-image: url(../../assets/images/slider-01.jpg);
  background-position:initial;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(0.7); */
}
.slider2{
  background-image: url(../../assets/images/slider-02.jpg);
  background-position: center;
  /* filter: brightness(0.5); */
}
.slider3{
  background-image: url(../../assets/images/slider-03.jpg);
  background-position: center;
  /* filter: brightness(0.5); */
}
.btn
{
  margin-inline: 55%;
  margin-bottom:  20px;
}
.btn1
{
  margin-inline: 75%;
  /* position:static; */
  /* margin-top: 10%; */
}